@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    main {
        @apply max-h-[calc(100vh-70px)] h-screen overflow-y-auto;
    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (min-device-width: 500px) {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #777;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
