@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h-body {
    @apply min-h-[calc(100dvh-70px)];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body,
header {
  background-color: rgb(235, 235, 235);
  color: black;
}

::-webkit-scrollbar-track {
  background: #cfcfcf;
}

::-webkit-scrollbar-corner {
  background: #cfcfcf;
}

[data-theme='dark'] {
  body, 
  header {
    background-color: rgb(30, 30, 30);
    color: white;
  }

  ::-webkit-scrollbar-track {
    background: #333;
  }

  ::-webkit-scrollbar-corner {
    background: #333;
  }
}

@media only screen and (min-device-width: 500px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
